<h2><%= book.title %></h2>

<div>
    <img height="400" width="300" src="<%= book.coverImagePath %>" alt="<%= book.title %>">
    <p>Author : <%= book.author.name %></p>
    <p>Publish Date: <%= book.publishDate.toDateString() %> </p>
    <p>Description: <%= book.description %></p>
    <p>Page Count: <%= book.pageCount %></p> 
</div>

<div>
    <a href="/books/<%= book.id%>/edit">Edit</a>
    
    <%- include('../partials/deleteForm', {
        url : `/books/${book.id}`
    }) %>  
    
    <a href="/authors/<%= book.author.id%>">View Author</a>
</div>